###OSX###

.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

#coffee
compiled

# Floobits
.floo
.floobit
.floo
.flooignore

# bower stuff
bower_components/bootstrap/grunt/*
bower_components/bootstrap/less/*
bower_components/bootstrap/Gruntfile.js
bower_components/bootstrap/LICENSE
bower_components/bootstrap/package.js
bower_components/bootstrap/package.json
bower_components/bootstrap/README.md
bower_components/bootstrap/*bower.*
bower_components/jquery/src/*
bower_components/jquery/*bower.*
bower_components/jquery/MIT-LICENSE.txt
bower_components/bootstrap/fonts/*
bower_components/bootstrap/js/.*